body {
  background: #FFB6C1;
}

.fcheader {
  display: flex;
  flex-direction: column;
  height: 20vh;
  background: center / cover no-repeat
}

.flex-container-slogan {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-grow: 1;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}

.slogan {
  font-size: 75px;
  color: white;
  font-family: "helvetica neue";
}

#name {
  font-size: 25px;
  color: white;
  font-family: "helvetica neue";
}

.wrapper {
  text-align: center;
  padding: 100px;
}

.nav {
  display: flex;
  flex-shrink: 1;
  background-color: rgba(0, 0, 0, 0);

}

.flex-container-buttons {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.2);
}

.logo {

}

.button {
  background: none;
  color: #FFFFFF;
  font-family: "gill sans";
  font-size: 40px;
  height: 90px;
  width: 300px;

  float: left;
  border: 0.5px;
  transition-duration: 0.3s;
}

.button:hover {
  background: none;
  color: #FFFFFF;
  font-family: "gill sans";
  font-size: 60px;
  height: 90px;
  width: 300px;
  float: left;
  border: 0.5px;
}

.header {
  font-family: "gill sans";
  font-size: 50px;
  display: flex;
  height: 2.5vh;
  flex-shrink: 1;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  text-align: right;
}

.footer {
  font-family: "gill sans";
  font-size: 25px;
  display: flex;
  height: 15vh;
  flex-shrink: 1;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  text-align: right;
}

#home {
  background: url()
}

.message {
  font-size: 25px;
  color: white;
  font-family: "helvetica neue";
}

.a {
  color: #FFFFFF;
}
